# Ignore Node.js dependencies and build files
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Ignore React-specific files
.eslintcache
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Ignore the default files for Python projects
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc
*.pyo

# Ignore virtual environment directories
.venv/
venv/
env/

# Ignore Python dependencies
requirements.txt

# Ignore data and model files
*.db
*.txt
*.json
*.csv
*.h5
*.keras
*.npz
*.dcm
*.jpg
*.jpeg
*.png
*.DS_Store
# Ignore general environment variable files
.env

# Ignore Keras configuration files
.keras/

# Ignore IDE and editor configuration files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore miscellaneous OS files
.DS_Store
Thumbs.db

# Ignore build output
out/

# Train Data
train/


node_modules/
venv/
